* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif; 
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    width: 1280px;
    height: 1372px;
    background-color: #F0F0F0;
}

.container {
    padding: 80px 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 15px;
}

.footer {
    height: 34px;
    background-color: #2EB738;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer-text {
    text-align: left;
    font-size: 16px;
    color: #F0F0F0;
    padding: 0px 85px;
}

.title {
    width: 350px;
    height: 366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.label-up, .label-down {
    display: flex;
    height: 28px;
}


.label-up-left, .label-up-right, .label-down-left, .label-down-right{
    width: 14px;
    height: 28px;
    text-align: left;
    font-size: 24px;
    color: #2EB738;
}

.label-up-mid, .label-down-mid {
    width: 280px;
    height: 0;
    margin: 14px 20px;
    border: 1px solid #2EB738;
}

.title-Name-Chinese {
    font-size: 54px;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    color: #2EB738;
}

.title-Name-English {
    text-align: center;
    font-size: 24px;
    color: #2EB738;
}

.cal {
    width: 350px;
    height: 366px;
    background: #FFFFFF ;
    box-shadow: 0px 3px 10px #D8D8D8;
    border-radius: 100px 0px 30px 0px;
}  

.cal-container {
    width: 270px;
    height: 238px;
    margin: 64px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px 32px;
}


.cal-title {
    height: 100px;
    width: 71px;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 128px;
    line-height: 100px;
    color: #2EB738;
    text-shadow: 4px 3px 0px #F0F0F0;
    margin-left: 20px;
    margin-bottom: 15px; 

}

.cal-content {
    height: 33px;
    width: 119px;
    text-align:left;
    font-size: 24px;
    color: #2EB738;
}

